@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #404040; border-radius: 9999px; }
